.bloc {
    transition: 0.2s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    width: 150px;
    cursor: pointer;
    user-select: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bloc:hover{
    transition: 0.2s;
    background-color: rgb(255, 248, 248);
    border-color: rgb(129, 108, 108);
    border-radius: 13px;
}

img {
    transition: 0.2s;
    width: 50px;
    height: 50px;
    /* border: solid 2px black; */
    border-radius: 12px;
    object-fit: contain;
    box-shadow: 0px 0px 2px black;
}

img:hover{
    transition: 0.2s;
    transform: rotate(5deg);
    box-shadow: 0px 0px 4px black;
}

.textCouleur{
    transition: 0.1s;
    font-size: 18px;
}

.textCouleur:hover{
    transition: 0.1s;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 4px rgb(0, 0, 0);
}

.invisible {
    display: none;
}