body{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin: none;
}
header{
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#barre-de-recherche{
    transition: 0.2s;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 40px;
    border: solid 0px black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 4px black;
}

#barre-de-recherche:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 8px black;
}

#menu-déroulant-recherche{
    position: absolute;
    background-color: rgb(255, 249, 249);
    width: 100px;
    height: 40px;
    top:0px;
    left:0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-width: 0px;
    border-right: solid 1px black;
    text-align: center;
    font-weight: bold;
}
/* #menu-déroulant-recherche::after, #menu-déroulant-recherche::before {
    content: '';
    position: absolute;
    background-color: rgb(185, 101, 101);
    width: 20px;
    height: 2px;
    top:20px;
} */
/* #menu-déroulant-recherche:hover::after,
#menu-déroulant-recherche:hover::before {
    animation: Saute infinite 2s;
}
#menu-déroulant-recherche::after {
    right: 5px;
    transform: rotate(-50deg);
}
#menu-déroulant-recherche::before {
    right: 17px;
    transform: rotate(50deg);
}

@keyframes Saute{
    0%{
        top: 20px;
    } 33%{
        top:25px;
    }
    66% {
        top: 15px;
    }
    100% {
        top: 20px;
    }
} */

#inputDeRecherche{
    position: absolute;
    background-color: #ffffff00;
    top: 3px;
    left: 110px;
    border: 0px;
    width: 70%;
    height: 80%;
}

#nombreAAfficher{
    position: absolute;
    top: 20px;
    right: 5%;
    width: 10%;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    border: solid 1px black;
}

.blocWidth{
    width: 100%;
}

.blocWidth2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    box-shadow: 0px 0px 4px black;
    border-radius: 13px;
}


.barre-de-recherche {
    height: 40px;
    width: 13%;
    border: solid 0px black;
    padding-left: 5px;
    padding-right: 5px;
}

.choix-catégorie {
    border-right: solid 1px black;
    width: 20%;
}

.choix-texte {
    border-right: solid 1px black;
    width: 60%;
}

.choix-nombre {
    border-right: solid 1px black;
    width: 10%;
}

.bouton-envoie {
    width: 10%;
    text-align: center;
}


#choix-catégorie {
    border: 0px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

#espaceDeRecherche {
    width: 100%;
    height: 85%;
    border: 0px;
    background-color: #ffffff00;
}

#choix-nombre {
    width: 100%;
    height: 85%;
    border: 0px;
    background-color: #ffffff00;
}

#bouton-envoie {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}