body{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin: none;
}
header{
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.blocWidth{
    width: 100%;
}

.blocWidth2 {
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    box-shadow: 0px 0px 4px black;
    border-radius: 13px;
}

.blocWidth2:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 8px black;
}


.barre-de-recherche {
    height: 40px;
    width: 13%;
    border: solid 0px black;
    padding-left: 5px;
    padding-right: 5px;
}

.choix-catégorie {
    border-right: solid 1px black;
    width: 20%;
}

.choix-texte {
    border-right: solid 1px black;
    width: 60%;
}

.choix-nombre {
    border-right: solid 1px black;
    width: 10%;
}

.bouton-envoie {
    width: 10%;
    text-align: center;
}


#choix-catégorie {
    transition: 0.3s;
    outline: none;
    border: 0px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    text-align: center;
}

#espaceDeRecherche {
    transition: 0.3s;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: #ffffff00;
}

#choix-nombre {
    transition: 0.3s;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: #ffffff00;
}

#bouton-envoie {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}

#choix-nombre:focus,
#espaceDeRecherche:focus,
#choix-catégorie:focus {
    transition: 0.3s;
    color: rgb(129, 0, 0);
    font-weight: bold;
}