.btn-yeux {
    position: relative;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    color: inherit;
    text-align: inherit;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-yeuxDevant {
    position: absolute;
    transition: 0.4s;
    width: 200px;
    height: 50px;
    font-family: Raleway ExtraBold;
    color: white;
    font-size: 25px;
    border: solid 2px black;
    border-radius: 25px;
    background-color: #255FF4;
    transform-origin: left center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-yeux:hover .btn-yeuxDevant {
    transition: 0.4s;
    background-color: #0843D7;
    transform: rotate(-13deg);
}

.btn-yeux:active .btn-yeuxDevant {
    transition: 0.2s;
    transform: rotate(0deg);
}

.btn-yeuxDerrière {
    user-select: none;
    position: absolute;
    transition: 0.4s;
    width: 200px;
    height: 50px;
    border: solid 2px black;
    font-family: Raleway ExtraBold;
    color: white;
    font-size: 25px;
    border-radius: 25px;
    background-color: #000000;
    transform-origin: left center;
    display: flex;
    align-items: center;
}

.œil {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ClignementDesYeux 3.5s infinite;
    --x: 0px;
    --y: 0px;
}

.œil::after {
    content: '';
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(var(--x), var(--y));
    transition: transform 0.1s ease-out;
}

.œil::before {
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.œil:hover::before {
    transition: 0.2s;
    background-color: rgb(255, 244, 244);
    transform: scaleY(0.7);
}

@keyframes ClignementDesYeux {
    0% {
        transform: scaleY(1);
    }

    5% {
        transform: scaleY(0);
    }

    7% {
        transform: scaleY(0);
    }

    12% {
        transform: scaleY(1);
    }
}