#logo {
    position: absolute;
    border: solid 0px;
    width: 50px;
    height: 50px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocLogo {
    transition: 0.2s;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(235, 199, 18);
    box-shadow: 2px 2px 4px black;
}

.blocLogo:hover {
    transition: 0.2s;
    box-shadow: 4px 4px 8px black;
}

.formePrincipale {
    position: absolute;
    right: 50%;
    background-color: black;
    width: 10%;
    height: 80%;
}

.blocLogo::after {
    position: absolute;
    content: '';
    background-color: black;
    width: 40%;
    height: 40%;
    bottom: -2%;
    left: 10%;
    border-radius: 50%;
}

.blocLogo::before {
    position: absolute;
    content: '';
    background-color: black;
    width: 40%;
    height: 10%;
    rotate: 20deg;
    left: 45%;
    top: 6%;
}
