#logo {
    position: absolute;
    border: solid 2px;
    width: 50px;
    height: 50px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoIcone {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgb(189, 216, 255);
    border-radius: 50%;
    transform: rotateX(50deg);
    border: solid 1px blue;
}

#logoIconeCentre {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: rotateX(50deg);
}