            .blocLogo {
                transition: 0.2s;
                position: relative;
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgb(235, 199, 18);
                box-shadow: 2px 2px 4px black;
                /* border: solid 2px black; */
            }

            .blocLogo:hover {
                transition: 0.2s;
                box-shadow: 4px 4px 8px black;
            }

            .formePrincipale {
                position: absolute;
                right: 50%;
                background-color: black;
                width: 10%;
                height: 80%;
            }

            .blocLogo::after {
                position: absolute;
                content: '';
                background-color: black;
                width: 40%;
                height: 40%;
                bottom: -2%;
                left: 10%;
                border-radius: 50%;
            }

            .blocLogo::before {
                position: absolute;
                content: '';
                background-color: black;
                width: 40%;
                height: 10%;
                rotate: 20deg;
                left: 45%;
                top: 6%;
            }

/* #logo {
    position: absolute;
    border: solid 2px;
    width: 50px;
    height: 50px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoIcone {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: rgb(189, 216, 255);
    border-radius: 50%;
    transform: rotateX(50deg);
    border: solid 1px blue;
}

#logoIconeCentre {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transform: rotateX(50deg);
} */