.Artiste{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(163, 115, 115);
}

.Artiste img {
    width: 30%;
    height: 30%;
}

main{
    /* margin-right: 200px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

body {
  /* display: flex;            */
  /* flex-direction: column;    */
  /* justify-content:center ; */
  /* align-items:center ;    */
  /* height: 100vh;            */
  margin: 0;          
  background-color: rgb(53, 109, 112); 
}

.Bienvenue {
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 200%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;   
}
