@font-face {
    font-family: 'Raleway Semi Bold';
    src: url('../font/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('../font/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway LightItalic';
    src: url('../font/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
    font-style: normal;
}

body{
    overflow-x: hidden;
    background-color: rgb(255, 245, 252);
    margin-right: 230px !important;
}

img{
    width: 140px;
    height: 140px;
    border: solid 2px black;
    border-radius: 140px;
    object-fit: contain;
    background-color: white;
    animation: rotation 2s linear infinite;
}

#blocGauche{
    transition: 0.2s;
    position: relative;
    display: flex;
    /* align-items: center; */
    display: 10px;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100%;
    background-color: rgb(241, 241, 255);
    box-shadow: -2px 0px 5px rgb(168, 168, 168);
}

#blocGauche:hover{
    transition: 0.2s;
    box-shadow: -2px 0px 10px rgb(168, 168, 168);
}

#blocGauche:hover #Image {
    animation: rebond infinite 1s;
}

#blocGauche:hover #Name {
    animation: couleur infinite 1s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rebond{
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes couleur {
    0%{
        color: red;
    }
    25% {
        color: rgb(0, 0, 255);
    }
    50%{
        color: rgb(46, 196, 0);
    }
    75% {
        color: rgb(175, 0, 134);
    }
    100% {
        color: red;
    }
}

#Image{
    position: absolute;
    top:20px;
}

.texteTitreCatégorie, #Name {
    color: rgb(184, 8, 8);
    font-style: italic;
    text-decoration: underline;
    font-family: 'Raleway ExtraBold';
}

.texteTitreCatégorie::before{
    content: '► ';
    color:black;
    text-decoration: none;
    font-style: normal;
}

#Name {
    position: absolute;
    top: 160px;
    text-decoration: none;
    font-style: normal;
}

pre{
    font-family: 'Raleway Semi Bold';
}

#blocInformation{
    border: solid 0px;
    box-shadow: 0px 0px 5px black;
    border-radius: 21px;
    max-width: 400px;
    min-width: 20px;
    min-height: 20px;
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /* display: flex;
    justify-self: center; */
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    padding-left: 40px;
    /* padding-right: 40px; */
    background-color: rgba(240, 248, 255, 0.532);
}

@media (max-width:566px){
    #blocGauche{
        position: relative;
        margin: 0px;
        margin-top: 30px;
        width: 100%;
        height: 250px;
        box-shadow: 0px 0px 5px rgb(168, 168, 168);
    }
    body{
        margin: 0px !important;
    }
    #blocGauche img {
        width: 100px;
        height: 100px;
    }
    #blocGauche h2 {
        margin: 0px;
    }
    #BlocDeBlocInformationPourCentrer {
        display: flex;
        justify-self: center;
    }
    #blocInformation{
        padding-right: 40px;
    }
}
