.Artiste{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(163, 115, 115);
}

.Artiste img {
    width: 30%;
    height: 30%;
}

main{
    /* margin-right: 200px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

body {
  display: flex;           /* active Flexbox */
  flex-direction: column;   /* empile les éléments verticalement */
  justify-content:center ; /* centre horizontalement */
  align-items:center ;     /* centre verticalement */
  height: 100vh;           /* prend toute la hauteur de la fenêtre */
  margin: 0;               /* enlève les marges par défaut */
  background-color: rgb(53, 109, 112); 
}

.Bienvenue {
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 200%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;   
}
