@font-face {
    font-family: 'Raleway Semi Bold';
    src: url('../font/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('../font/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway LightItalic';
    src: url('../font/Raleway/static/Raleway-LightItalic.ttf') format('truetype');
    font-style: normal;
}

.invisible {
    display: none;
}
body {
    margin: 0;
    background-color: rgb(184, 222, 224);
}

main{
    display: block;
}

h1{
    display: flex;
    justify-self: center;
    font-family: 'Raleway ExtraBold';
}

#blocLogo{
    border: solid 2px black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

#blocExplicatifHomePage{
    border: solid 0px;
    box-shadow: 0px 0px 5px black;
    border-radius: 21px;
    max-width: 400px;
    min-width: 20px;
    min-height: 20px;
    width: 80%;
    height: auto;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.532);

}

#blocExplicatifHomePage p {
    width: 100%;
    text-align: center;
    font-family: 'Raleway Semi Bold';
    font-size: 17px;
    color:black;
}