body {
    margin: 0;
    background-color: rgb(184, 222, 224);
}

main{
    display: block;
}

h1{
    display: flex;
    justify-self: center;
    font-family: 'Raleway ExtraBold';
}

#blocLogo{
    border: solid 0px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

#blocExplicatifHomePage{
    border: solid 0px;
    box-shadow: 0px 0px 5px black;
    border-radius: 21px;
    max-width: 400px;
    min-width: 20px;
    min-height: 20px;
    width: 80%;
    height: auto;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.532);

}

#blocExplicatifHomePage p {
    width: 100%;
    text-align: center;
    font-family: 'Raleway Semi Bold';
    font-size: 17px;
    color:black;
}