.Artiste{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(163, 115, 115);
}

.Artiste img {
    width: 30%;
    height: 30%;
}

main{
    /* margin-right: 200px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


.Bienvenue {
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 3px 0;   
  z-index: 100;
  margin-top: 50px;
}
