.bar {
    background-color: #ffffff;
    margin: none;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.blocWidth {
    width: 100%;
}

.blocWidth {
    width: 100%;
    justify-content: center;
}

.blocWidth2 {
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    box-shadow: 0px 0px 4px black;
    border-radius: 13px;
    background-color: white;
}

.blocWidth2:hover {
    transition: 0.2s;
    box-shadow: 0px 0px 8px black;
}


.barre-de-recherche {
    height: 40px;
    width: 13%;
    border: solid 0px black;
    padding-left: 5px;
    padding-right: 5px;
}

.choix-catégorie {
    border-right: solid 1px black;
    width: 20%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.choix-texte {
    border-right: solid 1px black;
    width: 60%;
}

.choix-nombre {
    border-right: solid 1px black;
    width: 10%;
}

.bouton-envoie {
    width: 10%;
    text-align: center;
}


#choix-catégorie {
    transition: 0.3s;
    outline: none;
    border: 0px;
    width: 100%;
    height: 100%;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    text-align: center;
}

#espaceDeRecherche {
    transition: 0.3s;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: #ffffff00;
}

#choix-nombre {
    transition: 0.3s;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: #ffffff00;
}

#bouton-envoie {
    transition: 0.3s;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: rgb(235, 235, 235);
}

#choix-nombre:focus,
#espaceDeRecherche:focus,
#choix-catégorie:focus {
    transition: 0.3s;
    color: rgb(129, 0, 0);
    font-weight: bold;
}

.listeDeSeQuiDoitÊtreAfficher{
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 100px;
    right: 0px;
    border: solid 2px black;
    border-right: 0px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 145px;
    width: 30px;
    z-index: 4;
}

.listeDeSeQuiDoitÊtreAfficher label,
.listeDeSeQuiDoitÊtreAfficher input[type=checkbox]{
    display: none;
}
.listeDeSeQuiDoitÊtreAfficher:hover label,
.listeDeSeQuiDoitÊtreAfficher:hover input[type=checkbox]{
    display:inline;
}

/* .listeDeSeQuiDoitÊtreAfficher:hover,
.listeDeSeQuiDoitÊtreAfficher{
    transition:
        width 0.2s;
} */

.listeDeSeQuiDoitÊtreAfficher:hover {
    background-color: white;
    position: absolute;
    top: 100px;
    right: 0px;
    border: solid 2px black;
    border-right: 0px;
    padding: 10px;
    padding-right: 50px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    height: 125px;
    width: 150px;
    z-index: 4;
}

.listeDeSeQuiDoitÊtreAfficher:hover label {
    position: relative;
    top:-5px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    
    transition: 0.2s;
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

input[type=checkbox]:hover {
    transition: 0.2s;
    border: 1px solid #9c9c9c;
}

input[type=checkbox]:checked {
    transition: 0.2s;
    position: relative;
    border: 1px solid #000000;
    background: #c1e3ff;
}

input[type=checkbox]:hover {
    box-shadow: -0px -0px 2px #000000 inset;
    border-radius: 4px;
}

input[type=checkbox]:checked::before {
    position: absolute;
    content: '✓';
    left: 1px;
    top: -2px;
}


/* input[type="checkbox"]:checked {
    background: yellow;
    margin: 0px;
    position: relative;

    &:before {
        font-family: FontAwesome;
        content: '\f00c';
        display: block;
        color: grey;
        font-size: 13px;
        position: absolute;
    }
} */