<!DOCTYPE html>
<html lang="fr">
  <header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil – Groupie Tracker</title>
    <link rel="stylesheet" href="../../static/style/styleGénéral.css" />
    <link rel="stylesheet" href="../../static/style/boutonAvecYeux.css">
    <link rel="stylesheet" href="../../static/style/styleHautDePage.css" />
    <link rel="stylesheet" href="../../static/style/styleHomePage.css">
    <script defer src="../../static/script/Yeux.js"></script>
  </header>
  <body class="body-homepage">
    <head>
      <div id="hautDePage">
        <div id="logo">
          <div class="blocLogo">
            <div class="formePrincipale"></div>
          </div>
        </div>
        <form action="CliqueBoutonDeNavigation">
          <button class="btn" id="btn-aceuil" name="idBouton" value="0" type="submit">
            <div id="iconeMaison"></div>
          </button>
        </form>
        <form action="CliqueBoutonDeNavigation">
          <input class="invisible" name="Image" value="on">
          <input class="invisible" name="Name" value="on">
          <input class="invisible" name="CreationDate" value="on">
          <input class="invisible" name="pageAcceuil" value="1">
          <button class="btn" id="btn-recherche" name="idBouton" value="1" type="submit">
            <div id="iconeLoupe"></div>
          </button>
        </form>
        <form action="informationsAppelle">
          <button class="btn" id="btn-hasard" name="idBoutonAléatoire" value="2" type="submit"></button>
        </form>
      </div>
    </head>  
    <main>

      <div id="blocLogo">
        <div class="blocLogo">
          <div class="formePrincipale"></div>
        </div>
      </div>
      <h1>Bienvenue sur Groupiee tracker</h1>
      <div id="blocExplicatifHomePage">
        <p>Venez découvrir plus de cinquante groupes musicaux ! Vous découvrirez ici la dates de création de ces groupes, les
          membres qui les constitues, les spectacles auquel ils ont participé et bien plus encor !</p>
        <!-- <p>Qu’attendez-vous pour venir sur notre site ?</p> -->
      </div>
      <form action="Rechercher">
        <input class="invisible" name="Image" value = "on">
        <input class="invisible" name="Name" value="on">
        <input class="invisible" name="CreationDate" value="on">
        <input class="invisible" name="pageAcceuil" value="1">
        <button type="submit" class="btn-yeux">
          <div class="btn-yeuxDerrière">
            <div class="œil"></div>
            <div class="œil" style="right:50px;"></div>
          </div>
          <div class="btn-yeuxDevant">REGARDER</div>
        </button>
      </form>

      
    </main>
    <footer class="footermain">
      <p>© 2026 Tous droits réservés.</p>
    </footer>
  </body>
</html>
</DOCTYPE html>