<!DOCTYPE html>
<html lang="fr"> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/style/styleInformation.css" />
        <link rel="stylesheet" href="../../static/style/styleHautDePage.css" />
    </head>
    <body>
        <head>
            <div id="hautDePage">
                <div id="logo">
                    <div class="blocLogo">
                        <div class="formePrincipale"></div>
                    </div>
                </div>
                <form action="CliqueBoutonDeNavigation">
                    <button class="btn" id="btn-aceuil" name="idBouton" value="0">
                        <div id="iconeMaison"></div>
                    </button>
                </form>
                <form action="CliqueBoutonDeNavigation">
                    <button class="btn" id="btn-recherche" name="idBouton" value="1">
                        <div id="iconeLoupe"></div>
                    </button>
                </form>
                <form action="informationsAppelle">
                    <button class="btn" id="btn-hasard" name="idBoutonAléatoire" value="2"></button>
                </form>
            </div>
        </head>

        <main>
            <div id="BlocDeBlocInformationPourCentrer">
            <div id="blocInformation">
                <p class="texteTitreCatégorie" id="Members">Membres</p>
                <pre>{{.TexteListeMembre}}</pre>
                <p class="texteTitreCatégorie" id="CreationDate">Date de création :</p>
                <pre>{{.DateDeCréation}}</pre>
                <p class="texteTitreCatégorie" id="FirstAlbum">Date de premier album :</p>
                <pre>{{.PremierAlbum}}</pre>
                <p class="texteTitreCatégorie" id="ConcertDates">Dates de concert : </p>       
                <pre>{{.ListeConcert}}</pre>
            </div>
            </div>
            <div id="blocGauche">
                <img id="Image" src={{.Image}}>
                <h2 id="Name">{{.Prénom}}</h2>
                <hr>
            </div>
        </main>
    </body>
</html>