<!DOCTYPE html>
<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/style/styleInformation.css" />
    </head>
    <body>
        <hr>
        <p id="Members">Membres</p>
        <pre>{{.TexteListeMembre}}</pre>
        <p id="CreationDate">Date de création :</p>
        <pre>{{.DateDeCréation}}</pre>
        <p id="FirstAlbum">Date de premier album :</p>
        <pre>{{.PremierAlbum}}</pre>
        <p id="ConcertDates">Dates de concert : </p>       
        <pre>{{.ListeConcert}}</pre>
        <div id="blocGauche">
            <img id="Image" src={{.Image}}>
            <h2 id="Name">{{.Prénom}}</h2>
            <hr>
        </div>
    </body>
</html>