<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Recherche – Groupie Tracker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/style/styleGénéral.css" />
        <link rel="stylesheet" href="../../static/style/style.css"/>
        <link rel="stylesheet" href="../../static/style/styleBarreDeRecherche.css" />
        <link rel="stylesheet" href="../../static/style/styleTemplate.css" />
        <link rel="stylesheet" href="../../static/style/styleHautDePage.css" />
    </head>
    <body> 
        <div id="hautDePage">
            <div id="logo">
                <div class="blocLogo">
                    <div class="formePrincipale"></div>
                </div>
            </div>
            <form action="CliqueBoutonDeNavigation">
                <button class="btn" id="btn-aceuil" name="idBouton" value="0" type="submit">
                    <div id="iconeMaison"></div>
                </button>
            </form>
            <form action="CliqueBoutonDeNavigation">
                <input class="invisible" name="Image" value="on">
                <input class="invisible" name="Name" value="on">
                <input class="invisible" name="CreationDate" value="on">
                <input class="invisible" name="pageAcceuil" value="1">
                <button class="btn" id="btn-recherche" name="idBouton" value="1" type="submit">
                    <div id="iconeLoupe"></div>
                </button>
            </form>
            <form action="informationsAppelle">
                <button class="btn" id="btn-hasard" name="idBoutonAléatoire" value="2" type="submit"></button>
            </form>
        </div>
        <header>
            <form action="Rechercher" class="blocWidth2">
                <div class="barre-de-recherche choix-catégorie bar">
                    <select name="catégorie" autofocus="false" id="choix-catégorie">
                        <option value="Name">Nom</option>
                        <option value="Id">ID</option>
                        <option value="Members">Membres</option>
                        <option value="CreationDate">Date de création</option>
                        <option value="FirstAlbum">Première album</option>
                        <option value="Locations">Localisation</option>
                        <option value="ConcertDates">Dates des concerts</option>
                    </select>
                </div>
                <div class="barre-de-recherche choix-texte bar">
                    <input name="recherche" id="espaceDeRecherche" autofocus="false" type="text" placeholder="Rechercher"
                        autocomplete="off" maxlength="50">
                </div>
                <div class="barre-de-recherche choix-nombre bar">
                    <input name="nombreAAfficher" id="choix-nombre" autofocus="false" type="number" autocomplete="off" min=0
                        value=50>
                </div>
                <button type="submit" class="barre-de-recherche bouton-envoie bar" id="bouton-envoie">✔️</button>
                <div class="listeDeSeQuiDoitÊtreAfficher">
                    <input type="checkbox" name="Image" checked="true"><label>Image</label><br>
                    <input type="checkbox" name="Name" checked="true"><label>Nom</label><br>
                    <input type="checkbox" name="CreationDate" checked="true"><label>Date de création</label><br>
                    <input type="checkbox" name="Members"><label>Membres</label><br>
                    <input type="checkbox" name="FirstAlbum"><label>Premier album</label><br>
                </div>
            </form>
        </header>
        <main>
        <!-- </main>
        <footer>
            <p style="color: aliceblue;">ici</p>
        </footer> -->
    </body>
</html>